.git
.github
.gitignore

.vscode
.idea

venv
.venv

__pycache__
*.pyc
*.pyo

.pytest_cache
.mypy_cache
.coverage

tests
docs

.env
.env.*

README.md
Dockerfile
docker-compose.yaml
Makefile
requirements.in
Student-API.postman_collection.json